/*** NAV ***/
#pint {
	margin: 0;
	padding: 16px;
	color: #fff;
}

.top {
	color: #fff;	
}

/*** LOG IN ***/
#login {
	padding-top: 100px;
}

/*** BOARD VIEW ***/
#board-search {
	padding-top: 10px;
}

.new-board {
	padding-top: 12px;
}

#board {
	height: 100px;
	text-align: center;
}

