<div class="inner-container">
	<div class="row">
		<div class="col s4">
			<h4>Pin View</h4>
		</div>
		<div class="col s4">		
			<input placeholder="Search Pins" ng-model="searchText">
		</div>
		<div class="col s4">
			<div class="center newer-board">		
				<a ng-href="#/newPin"><button class="waves-effect waves-light btn blue lighten-4 text">New Pin</button></a>
			</div>
		</div>
	</div>
	<div class="row">			
		<div ng-repeat="pin in pins | filter:searchText">
			<div id="pin" class="col s6">
				<a ng-href="#/specPin" ng-click="viewSelectedPin(pin.uniqueId)">
					<div>
						<div>{{pin.title}}</div>
						<img src="{{pin.imgURL}}">
						<button class="waves-effect waves-light btn blue lighten-4 text" ng-click="deletePin(pin.uniqueId)">X</button>			
					</div>
				</a>
			</div>
		</div>
	</div>	
</div>
